body {
  background-image : black;
}

#page1 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: whitesmoke;
    background-image: linear-gradient(rgb(116, 223, 239), rgb(174, 154, 251));
    margin: 0 auto;
    width: 670px;
    padding: 0 2em 1em;
}
h2 
{ color: blue; 
}

#page2 {
	margin: 50px auto;
	padding: 50px 30px;
	width: 540px;
	height: 350px;
	position: relative;
	background-color: orangered;
	font-family: 'Times New Roman', Times, serif;
	color: white;
  display:none;
}

span { color: red; } */

.center {
     color: rgb(204, 0, 255);
  text-align: center;
} 